/*
    -- General Styles --
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'DynaPuff', cursive;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #B33951;
}

/*
    -- Selection Styles --
*/

.selection {
    padding: 50px 80px;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
                inset 6px 4px 12px rgba(0, 0, 0, .2);
}

.selection h2 {
    color: #B33951;
    font-size: 4rem;
    font-weight: 600;
    font-variant: small-caps;
}

.selection p {
    color: #222;
    font-size: 1.5rem;
    font-weight: 500;
    font-variant: small-caps;
    margin-top: 30px;
}

.selection .players {
    width: 100%;
    margin-top: 8px;
}

.selection .players .player {
    cursor: pointer;
    color: #B33951;
    width: 5.5rem;
    height: 4rem;
    margin: 0 4px;
    font-size: 2rem;
    border-radius: 4px;
    border: 3px solid #B33951;
    transition: .4s;
}

.selection .players .player:hover {
    color: #fff;
    background: #B33951;
}

/*
    -- FadeOut & FadeIn Animations --
*/

.fadeOut {
    animation: hide .3s linear alternate;
}

@keyframes hide {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0);
    }
}

.fadeIn {
    animation: show .3s linear alternate;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

/*
    -- PlayBoard Styles --
*/

.play-board {
    display: none;
    padding: 30px;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
                inset 6px 4px 12px rgba(0, 0, 0, .2);
}

table td {
    width: 3em;
    height: 3em;
    font-size: 2em;
    text-align: center;
    background: #ff9eb150;
    border: 2px solid #f9f9f9;
    border-radius: 8pxp;
    cursor: pointerr;
    transition: .4s linear;
}

/*
    -- Reset Button --
*/

.reset {
    cursor: pointer;
    color: #B33951;
    padding: 8px 18px;
    margin-top: 30px;
    font-size: 1.5rem;
    border-radius: 4px;
    border: 3px solid #B33951;
    transition: .4s;
}

.reset:hover {
    color: #fff;
    background: #B33951;
}

/*
    -- Winner Declaration Styles --
*/

.winner {
    /* display: none; */
    padding: 40px 50px;
    border-radius: 8px;
    background: #f9f9f9;
    text-align: center;
    box-shadow: 6px 4px 20px rgba(0, 0, 0, .1),
                inset 6px 4px 12px rgba(0, 0, 0, .2);
}

.winner h3 {
    font-size: 30px;
    font-weight: 500;
    font-variant: small-caps;
}
